/* template styling */
.card {
    width: 100%;
    font-size: 1.6em;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .small{
  font-size: 0.8em;
  }

  
  .right{
    float: right;
  }
  
  @media (min-width:1000px)
  {
    .card{
      text-align: center;
    }
  }
  @media screen and (max-width:1000px) {
    .card{
      width: 100%;
    }
  }