body{
  background-color: #fbefef;
  font-family: helvetica,"Segoe UI",Arial,sans-serif;
  color:#222333;
  font-size:14px; 
  line-height: 1.5; 
  margin:0;
  scroll-behavior: smooth;
  font-family: 'Newsreader', serif;

}